/* @import '~tippy.js/dist/tippy.css';
@import "~tippy.js/themes/light-border.css"; */
/* @import "~intro.js/introjs.css";
@import "~intro.js/themes/introjs-modern.css"; */

html {
  background: url(../../../assets/images/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

* {
  margin: 0;
  padding: 0;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --color-global-background: rgb(131, 58, 180);
}

#sunset:checked~* {
  --mycolor: white;
  --sunset: 1;
  --sunrise: 0;
}

#sunrise:checked~* {
  --mycolor: yellow;
  --sunrise: 1;
  --sunset: 0;
}

.custom-text {
  color: var(--mycolor);
}

.heavens {
  position: absolute;
  width: 200px;
  right: 0;
  bottom: 0;
  z-index: 10;
  height: 100%;
  overflow: hidden;
}

.heavens:before {
  opacity: var(--sunrise);
}

.heavens:after {
  opacity: var(--sunset);
}

[class^="sun"] {
  position: absolute;
  text-align: center;
  width: 100%;
  cursor: pointer;
}

[class^="sun"]:before {
  content: attr(data-title);
  display: inline-block;
  width: 100%;
  margin: 2rem 0;
  color: white;
  font-size: 1.5rem;
}

[class^="sun"]:after {
  transition: all 0.75s 0.75s cubic-bezier(0.25, 0, 0.1, 1);
  margin-top: 1rem;
  content: '';
  display: inline-block;
  width: 100%;
  border-radius: 50%;
}

.sunrise:after {
  width: 78px;
  height: 78px;
  box-shadow: 0 0 0 1rem rgba(255, 250, 173, 0.3);
  background: linear-gradient(to top, #d00 0%, #fc8b53 50%, #fdd55a 100%);
  background-size: 200% 200%;
}

.sunset:before {
  margin-bottom: 3rem;
}

.sunset:after {
  width: 52px;
  height: 52px;
  background-color: lightgoldenrodyellow;
}

#sunrise:checked~ .heavens>.sunset:before {
  -webkit-animation: fade-out 0.75s cubic-bezier(0.25, 0, 0.1, 1) both;
  animation: fade-out 0.75s cubic-bezier(0.25, 0, 0.1, 1) both;
}

#sunrise:checked~ .heavens>.sunset:after {
  animation: circle-leave 1.5s cubic-bezier(0.25, 0, 0.1, 1) both;
}

#sunrise:checked~ .heavens>.sunrise {
  pointer-events: none;
}

#sunrise:checked~ .heavens>.sunrise:before {
  animation: fade-in 0.75s 1.5s cubic-bezier(0.25, 0, 0.1, 1) both;
}

#sunrise:checked~ .heavens>.sunrise:after {
  animation: circle-enter 0.75s 0.75s cubic-bezier(0.25, 0, 0.1, 1) both;
}

#sunset:checked~ .heavens>.sunrise:before {
  animation: fade-out 0.75s cubic-bezier(0.25, 0, 0.1, 1) both;
}

#sunset:checked~ .heavens>.sunrise:after {
  animation: circle-leave 1.5s cubic-bezier(0.25, 0, 0.1, 1) both;
}

#sunset:checked~ .heavens>.sunset {
  pointer-events: none;
}

#sunset:checked~ .heavens>.sunset {
  pointer-events: none;
}

#sunset:checked~ .heavens>.sunset:before {
  animation: fade-in 0.75s 1.5s cubic-bezier(0.25, 0, 0.1, 1) both;
}

#sunset:checked~ .heavens>.sunset:after {
  animation: circle-enter 0.75s 0.75s cubic-bezier(0.25, 0, 0.1, 1) both;
}


@keyframes circle-leave {
  50% {
    transform: translateY(-50%);
    opacity: 1;
  }

  to {
    animation-timing-function: ease-out;
    transform: translateY(60vh);
    opacity: 0;
  }
}


@keyframes circle-enter {
  from {
    opacity: 0;
    transform: translateY(-50vh);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

input[type=radio] {
  position: absolute;
  visibility: hidden;
  pointer-events: none;
}

