{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-recommended-scss",
    "stylelint-config-prettier"
  ],
  "ignoreFiles": [
      "src/styles/mvp.css"
  ],
   "rules": {
    "comment-empty-line-before": ["always", {
      except: ["first-nested"],
      ignore: ["after-comment", "stylelint-commands"],
      ignoreComments: [/^(\-\-).*(\-\-)$/]
    }],
    "rule-empty-line-before": ["always-multi-line", {
      "except": ["after-single-line-comment", "inside-block-and-after-rule", "first-nested"]
    }]
  }
}
