
/* Animations */
@keyframes fade-in {
  from {
    opacity: 0.1;
  }

  to {
    opacity: 1;
  }
}

@keyframes move {
  0% {
    left: 0px;
  }

  33% {
    top: 20px;
  }

  50% {
    top: 70px;
  }

  66% {
    top: 100px;
  }

  100% {
    left: 90%;
  }
}

@keyframes move2 {
  from {
    left: 0;
  }

  to {
    left: 90%;
  }
}

@keyframes flap {
  from {
    border-radius: 90%;
  }

  to {
    border-radius: 10%;
  }
}

@keyframes colorize {
  0% {
    box-shadow: 0 0 40px 6px #f20, 0 0 150px 10px #f33;
  }

  35% {
    box-shadow: 0 0 40px 6px orange, 0 0 150px 10px #e0596b;
  }

  65% {
    box-shadow: none;
  }

  85% {
    box-shadow: none;
    background: linear-gradient(gold, #d90 #d00);
    background-position: 50% 0;
  }

  100% {
    box-shadow: 0 0 40px 6px #efb503, 0 0 150px 10px #d66c39;
  }
}

@keyframes rise {
  from {
    top: 40%;
    left: -50%;
    opacity: 0.6;
    background-position: 50% 100%;
    transform: scale(1.2);
  }

  to {
    top: 7%;
    left: 60%;
    opacity: 1;
    background-position: 50% 0;
    transform: scale(1);
  }
}

@keyframes App-logo-float {
  0% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(0, -10px, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes sweep {
  0% {
    margin-left: -0.5em;
    margin-right: 0.5em;
    margin-top: -0.5em;
  }
  100% {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
  }
}

@keyframes grow {
  0% {
    width: 0;
  }
  100% {
    width: 1em;
  }
}

