

/* TODO: black bg and white text for faster print */
/* print mode style */
@media print {
  *,
  *::before,
  *::after {
    /* Black prints faster */
    /* color: var(--black) !important;  */
    /* text-shadow: none !important; */
    box-shadow: none !important;
    background: var(--color-global-bg-fallback) !important;
    -webkit-print-color-adjust: exact;
  }
  body {
    background-attachment: fixed;
  }

  details.my-project {
    border: 1px solid var(--color-shadow2);
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

.text-nowrap {
  white-space: nowrap;
}

.scale {
  transform: scale(1.8) !important;
}

.highlight {
  color: var(--text-highlight);
  cursor: help;
  border-bottom-style: dotted;
}

.highlight:hover {
  color: var(--text-highlight2);
  /* text-shadow: -3px 3px 2px #7c630a; */

  /* background: linear-gradient(330deg, #178bb7 0%, #d8ca1e 25%, #52e0e0 50%, #f1e526 75%, #095090 100%); */
  /* background: linear-gradient(330deg, #178bb7 0%, #8bc1ef 25%, #52e0e0 50%, #f1e526 75%, #076b39 100%); */
  background: linear-gradient(90deg, #e86ff1 0%, #3ce2e2 70%, #f5b45a 100%);

  /* background: rgb(63,94,251);
  background: radial-gradient(circle, #ffe506 0%, purple 100%); */


  /* github */
  /* background: linear-gradient(92.05deg, #BCA1F7 12.09%, #E577B4 42.58%, #FF7170 84.96%); */
  
  background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  box-decoration-break: clone;
}

[data-theme="dark"] .highlight:hover {
  background: linear-gradient(130deg, #507bf4, #f166b2);
  background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  box-decoration-break: clone;
}




