/*🔥*/
* {
  margin: 0;
  padding: 0;

  font-family: var(--font-family-sans-serif);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Bugfix for blue border when tab on modile and tablet devices */
  /* -webkit-tap-highlight-color: rgba(255, 255, 255, 0); */
  -webkit-tap-highlight-color: transparent;
}

*,
*:after,
*:before {
  box-sizing: border-box
}

::selection {
  background-color: var(--selection-bg);
  color: var(--black);

  /* fix for hover highlight text */
  background: var(--selection-bg);
  -webkit-text-fill-color: var(--black);
}

/* fix CSS3 gradient background set !90deg on body doesn't stretch but instead repeats? */
/* https://stackoverflow.com/a/3294418/6294371 */
/* html {
  min-height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;

  background: var(--color-global-bg-fallback);
  background-image: var(--color-global-bg);
} */
/* fix end */

body:before,
body:after { 
  content: '';
  display: block;
  background-attachment: scroll;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  pointer-events: none;
  background-position: 0% 0%;
  background-repeat: repeat;
  background-size: auto;
  will-change: transform;
  transform: scale(1);
  transition: opacity 1s linear;
}

body:before {
  background: var(--color-global-bg-fallback-light);
  background-image: var(--color-global-bg-light);
}

body:after {
  background: var(--color-global-bg-fallback-dark);
  background-image: var(--color-global-bg-dark);
  opacity: 0;
}

body[data-theme="dark"]:after {
  opacity: 1;
}

body[data-theme="gray"]:after {
  opacity: 1;
  background-image: var(--color-global-bg-gray);
  filter: grayscale(100%);
  filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
}

body[data-theme="gray"] * {
  filter: grayscale(100%);
  filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
}

body {
  overflow-x: hidden;
  animation: fade-in 3s ease;

  display: flex;
  flex-direction: column;
  height: 100vh;
}

/*--- optional styling for placeholder images ---*/
img[data-src] {
  background-color: var(--subtle);
}

.help-icon-menu-bar {
  padding-top: 6px;
  margin-right: 1rem;
  text-align: right;
}

.help-icon-menu-bar .help-icon {
  background: transparent;
  height: 28px;
  width: 26px;
  border: none;
  cursor: pointer;
  opacity: 0.54;
  transition: opacity 0.333s cubic-bezier(0, 0, 0.21, 1);
}

.help-icon-menu-bar .help-icon:hover {
  opacity: 1;
}

.main {
  flex-grow: 1;
}

.bird-big-left,
.bird-big-right,
.bird-small-left,
.bird-small-right {
  position: absolute;
   /* open hardware acceleration */
  transform: translateZ(0); 
}

.bird-big-left {
  opacity: 1;
  top: 50px;
  left: 00px;
  width: 10px;
  height: 10px;
  border: 2px solid var(--black);
  border-radius: 50%;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
  transform: rotateZ(-75deg);
  animation: move var(--bird-fly-speed) linear infinite, flap .5s linear alternate infinite;
  z-index: 70;
}

.bird-big-right {
  z-index: 70;

  opacity: 1;
  top: 50px;
  width: 10px;
  height: 10px;
  border: 2px solid var(--black);
  border-radius: 50%;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  transform: rotateZ(80deg);
  margin: 0px 6px;
  animation: move var(--bird-fly-speed) linear infinite, flap .5s linear alternate infinite;
}

.bird-small-left {
  opacity: 1;
  top: 45px;
  left: 0px;
  width: 10px;
  height: 8px;
  border: 2px solid var(--black);
  border-radius: 50%;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
  transform: rotateZ(-80deg);
  animation: move2 var(--bird-fly-speed) linear infinite 1.5s, flap .5s linear alternate infinite 1.5s;
  z-index: 70;
}

.bird-small-right {
  z-index: 70;

  opacity: 1;
  top: 45px;
  width: 10px;
  height: 8px;
  border: 2px solid var(--black);
  border-radius: 50%;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  transform: rotateZ(75deg);
  margin: 0px 5px;
  animation: move2 var(--bird-fly-speed) linear infinite 1.5s, flap .5s linear alternate infinite 1.5s;
}

[class^="moon"] {
  position: absolute;
  top: 7%;
  bottom: 0;
  left: 60%;
  right: 0;
  margin: 0 auto;
  max-height: 10vw;
  max-width: 10vw;
  cursor: pointer;
  border-radius: 50%;
  background: var(--color-moon-bg);
  background-size: var(--color-moon-bg-size);
  /* open hardware acceleration */
  transform: translateZ(0); 
  animation: colorize 24s 0s cubic-bezier(0.2, 1.05, 0.45, 0.94) infinite alternate, rise 5s;
}

@media screen and (max-height: 500px) {
  [class^="moon"] {
    top: 14%;
  }
}

.centered-content {
  color: var(--text-color);
  width: var(--centered-content-width);
  margin: auto;
  margin-top: 5%;
  line-height: 1.5;
}

.brand-icon {
  width: calc(5em + 4vw) !important;
  height: calc(5em + 4vw) !important;
  transition: 1s;
  position: relative;
  transform-origin: bottom;

  /* color: var(--color-brand); */
  text-shadow: var(--brand-text-shadow);
}

.brand-icon:hover {
  animation: jump infinite 5s cubic-bezier(0.280, 0.840, 0.420, 1);
}

.bio {
  position: relative;
  text-align: justify;
  font-weight: 900;
  font-size: calc(1em + 1vw);
  /* letter-spacing: -0.1vw; */
  padding: 1rem;
  transition: 1s;
}

.bio .code-icon {
  position: absolute;
  right: 10px;
  top: -1rem;
}

.wechat-qrcode {
  width: calc(2em + 10vw);
  cursor: pointer;
  will-change: transform;
  transition: transform 1.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.wechat-qrcode-desc {
  color: var(--text-subtle-color);
  font-style: italic;
  font-weight: bold;
  margin-top: -10px;
  font-size: 7px;
}

@media only screen and (max-width: 767px),
only screen and (device-width: 767px) {
  .wechat-qrcode-desc {
    font-size: 6px;
    margin-top: -5px;
    line-height: 7px;
    width: 5rem;
  }
}

/* icons style */
.social-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.social-icons li {
  display: inline-block;
}

.social-icons li a {
  text-decoration: none;
  will-change: transform;
  transition: transform 0.3s ease-in-out 0s;
}

.social-icons li a:hover {
  transform: translateY(-3px);
}

.icon {
  margin: calc(0.5em + 0.1vw);
  margin-bottom: 2px;
  opacity: 0.8;
  color: var(--text-color);

  display: flex;
  align-items: center;

  /* background: linear-gradient(0deg, var(--bg-light), var(--bg-white)); */
  /* transition: 1s; */
  /* transition: all 0.3s ease 0s; */
}

.icon.circle {
  height: calc(2em + 0.5vw);
  width: calc(2em + 0.5vw);
}

.icon .svg {
  margin: 0 auto;
  width: 1.5rem;
  height: 1.5rem;
}

.icon.loading {
  /* background: var(--bg-light); */
  /* border-radius: 4px; */
  /* display: block; */
  position: relative;
  overflow: hidden;
}

.icon.loading:before {
  content: "";
  animation: sweep-loading 1.3s infinite;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  transform: translateX(-100%);
  z-index: 1;
  background: linear-gradient(90deg, transparent, var(--bg-gray), transparent);
}

.icon-facebook {
  background: var(--fb);
}

.icon-twitter {
  background: var(--twitter);
}

.icon-google {
  background: var(--google);
}

.icon-linkedin {
  background: var(--linkedin);
}

.icon-snapchat-ghost {
  background: var(--snapchat);
  /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
}

.icon-skype {
  background: var(--skype);
}

.icon-wechat {
  background: var(--wechat);
}

.icon-envelope-o {
  background: var(--envelope);
}

.icon-reddit {
  background: var(--reddit);
}

.icon-github {
  background: var(--github);
}

.icon-stackoverflow {
  background: var(--stackoverflow)
}

.developer-mode-link {
  opacity: 0.54;
}

.developer-mode-link:hover {
  opacity: 1;
}

/* custom-marker */
details > summary.custom-marker { list-style-type: none; } /* Firefox */
/* summary::marker, */
details > summary.custom-marker::-webkit-details-marker {
  display: none
}

details > summary.custom-marker {
  position: relative;
  padding-left: 2.5rem !important;
}

details > summary.custom-marker::before,
details > summary.custom-marker::after {
  width: .5em;
  height: 0.15em;
  border-radius: 2px;
  background-color: var(--text-highlight);
  content: '';
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  transition: transform .2s ease-in-out;
}

details > summary.custom-marker::before {
  transform: translateY(-50%) rotate(90deg);
}

details[open] > summary.custom-marker::before {
  transform: translateY(-50%) rotate(180deg);
}
/* custom-marker end */

/* common */
details {
  margin: 1.3rem 0;
}

details summary {
  font-weight: bold;
  cursor: pointer;
  user-select: none;
}

details > summary:focus {
  outline: none;
}

details > summary + .content {
  margin: 0;
  padding: 0.5rem 0.5rem 1rem 0.5rem;
}
/* common end */

/* my-portfolio style */
details.my-portfolio {
  border-radius: 24px;
  box-shadow: 0px 0px 4px var(--color-shadow2);
}

details.my-portfolio summary {
  padding: 4px;
  border: none;

  font-size: calc(1em + 1vw);
}

details.my-portfolio:not([open]) summary {
  border-radius: 24px;
}

details.my-portfolio[open] summary {
  box-shadow: 0px 2px 3px 1px rgb(228 179 179 / 20%);
  border-top-right-radius: 24px;
  border-top-left-radius: 24px;
}

details.my-portfolio[open] summary + div {
  animation: sweep .2s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}
/* my-portfolio end */

.container-grid {
  display: grid;
  grid-gap: 0.2rem;
  grid-template-columns: repeat(auto-fill, minmax(85px, 1fr));
  grid-auto-rows: 70px;
}

.container-grid > .card {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  border-radius: 4px;
  transition: opacity 0.3s ease 0s;
}

.container-grid > .card.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.container-grid > .card:active,
.container-grid > .card:focus, 
.container-grid > .card:hover {
  background: var(--color-card-bg);
}

.container-grid > .card > .link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.container-grid > .card > .link:active,
.container-grid > .card > .link:focus {
  outline: var(--text-highlight) auto 1px;
}

.container-grid > .card.disabled > .link {
  pointer-events: none;
}

.qrcode-container {
  margin-right: 1rem;
  cursor: pointer;
  opacity: 0.54;
  border: none;
  background: transparent;
}

.qrcode-container:hover {
  opacity: 1;
}

.mobile-qrcode {
  width: 100% !important;
  border-radius: 4px;
  box-shadow: 0px 0px 4px 0px var(--color-shadow2);
  will-change: transform;
  transition:
  .4s ease-in-out transform,
  .4s ease-in-out box-shadow;
}

.mobile-qrcode:hover {
  transform: translate3d(0px, -5px, 0px);
  box-shadow: 1px 1px 0 1px #f9f9fb, -1px 0 28px 0 rgba(34, 33, 81, 0.01), 6px 6px 6px 6px rgba(34, 33, 81, 0.15);
}

.footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: var(--text-color);
  padding-bottom: .5rem;
}

.footer .version {
  margin-left: auto;
  color: var(--text-color);
}

.signature {
  stroke-width: 0.5rem !important;
  height: 2rem !important;
  width: 7rem !important;
  margin-right: 2rem;
}

.svgicon,
[class^="svgicon-"],
[class*=" svgicon-"] {
    display: inline-block;
    width: 24px;
    height: 24px;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

.no-scirpt-warning-msg {
  text-align: center;
  margin-bottom: 4rem;
  color: var(--yellow3);
  font-style: italic;
}
