@import '_variables';

* {
  margin: 0;
  padding: 0;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:after,
*:before {
  box-sizing: border-box
}

::selection {
  background-color: #efbb35;
  color: black;

  /* fix for hover highlight text */
  background: #efbb35;
  -webkit-text-fill-color: black;
}

/* fix CSS3 gradient background set !90deg on body doesn't stretch but instead repeats? */
/* https://stackoverflow.com/a/3294418/6294371 */
html {
  min-height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
/* fix end */

body {
  background: var(--color-global-bg-fallback);
  background: var(--color-global-bg);

  animation: fade-in 2s ease-in-out, light-sky 10s;

  display: flex;
  flex-direction: column;
  height: 100vh;
}

@media only screen and (min-width: 768px) {
  body {
    background: var(--color-global-bg-fallback) fixed;
    background: var(--color-global-bg) fixed;
  }
}

[data-theme="dark"] {
  animation: fade-in 5s ease-in-out;
}

[data-theme="gray"] {
  /* Set the theme to special gray */
  background: var(--color-global-bg);
  filter: grayscale(100%);
  filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);

  height: 100vh;

  animation: fade-in 5s ease-in-out;
}

/* light when sunrise */
@keyframes light-sky {
  from {
    background: var(--color-global-bg-loading) fixed;
  }

  to {
    background: var(--color-global-bg) fixed;
  }
}

@keyframes fade-in {
  from {
    opacity: 0.1;
  }

  to {
    opacity: 1;
  }
}

.help-icon-menu-bar {
  padding-top: 6px;
  margin-right: 1rem;
  text-align: right;
}

.help-icon-menu-bar .help-icon {
  height: 28px;
  width: 26px;
  border: none;
  cursor: pointer;
  opacity: 0.54;
  transition: opacity 0.333s cubic-bezier(0, 0, 0.21, 1);
}

.help-icon-menu-bar .help-icon:hover {
  opacity: 1;
}

.help-icon-menu-bar .language-btn {
  background: url(../assets/images/i18n.svg) center center no-repeat;
  /* background: url(../assets/images/i18n2.svg) center center no-repeat; */
  /* background: url(../assets/images/i18n3.svg) center center no-repeat; */
}

.help-icon-menu-bar .start-replay-tour {
  background: url(../assets/images/map.svg) center center no-repeat;
  /* background: url(../assets/images/help-1.svg) center center no-repeat; */
  /* background: url(../assets/images/help-2.svg) center center no-repeat; */
}

.help-icon-menu-bar .start-hint {
  background: url(../assets/images/info.svg) center center no-repeat;
}

.help-icon-menu-bar .subscribe-btn {
  /* background: url(../assets/images/notification.svg) center center no-repeat; */
  background: url(../assets/images/bell.svg) center center no-repeat;
}

.help-icon-menu-bar .pwa-install-btn {
  background: url(../assets/images/install.svg) center center no-repeat;
}

/* Bugfix for blue border when tab on modile and tablet devices */
.webkit-mobile-disable-blue-highlight {
  /* -webkit-tap-highlight-color: rgba(255, 255, 255, 0); */
  -webkit-tap-highlight-color: transparent;
}

.main {
  flex-grow: 1;
}

.bird-left,
.bird-right,
.bird-small-l,
.bird-small-r {
  position: fixed;
}

.bird-left {
  opacity: 1;
  top: 50px;
  left: 00px;
  width: 10px;
  height: 10px;
  border: 2px solid black;
  border-radius: 50%;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
  transform: rotateZ(-75deg);
  animation: move var(--bird-fly-speed) linear infinite, flap .5s linear alternate infinite;
  z-index: 70;
}

.bird-right {
  z-index: 70;

  opacity: 1;
  top: 50px;
  width: 10px;
  height: 10px;
  border: 2px solid black;
  border-radius: 50%;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  transform: rotateZ(80deg);
  margin: 0px 6px;
  animation: move var(--bird-fly-speed) linear infinite, flap .5s linear alternate infinite;
}

.bird-small-l {
  opacity: 1;
  top: 45px;
  left: 0px;
  width: 10px;
  height: 8px;
  border: 2px solid black;
  border-radius: 50%;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
  transform: rotateZ(-80deg);
  animation: move2 var(--bird-fly-speed) linear infinite 1.5s, flap .5s linear alternate infinite 1.5s;
  z-index: 70;
}

.bird-small-r {
  z-index: 70;

  opacity: 1;
  top: 45px;
  width: 10px;
  height: 8px;
  border: 2px solid black;
  border-radius: 50%;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  transform: rotateZ(75deg);
  margin: 0px 5px;
  animation: move2 var(--bird-fly-speed) linear infinite 1.5s, flap .5s linear alternate infinite 1.5s;
}

@keyframes move {
  0% {
    left: 0px;
  }

  33% {
    top: 20px;
  }

  50% {
    top: 70px;
  }

  66% {
    top: 100px;
  }

  100% {
    left: 100%;
  }
}

@keyframes move2 {
  from {
    left: 0;
  }

  to {
    left: 100%;
  }
}

@keyframes flap {
  from {
    border-radius: 90%;
  }

  to {
    border-radius: 10%;
  }
}

[class^="moon"] {
  position: absolute;
  top: 7%;
  bottom: 0;
  left: 60%;
  right: 0;
  margin: 0 auto;
  max-height: 10vw;
  max-width: 10vw;
  cursor: pointer;
  border-radius: 50%;
  background: var(--color-moon-bg);
  background-size: var(--color-moon-bg-size);
  animation: colorize 24s cubic-bezier(0.2, 1.05, 0.45, 0.94) infinite, rise 5s;
}

@media screen and (max-height: 500px) {
  [class^="moon"] {
    top: 14%;
  }
}

@keyframes colorize {
  0% {
    box-shadow: 0 0 40px 6px #f20, 0 0 150px 10px #f33;
  }

  35% {
    box-shadow: 0 0 40px 6px orange, 0 0 150px 10px #e0596b;
  }

  65% {
    box-shadow: none;
  }

  85% {
    box-shadow: none;
    background: linear-gradient(gold, #d90 #d00);
    background-position: 50% 0;
  }

  100% {
    box-shadow: 0 0 40px 6px #efb503, 0 0 150px 10px #d66c39;
  }
}

@keyframes rise {
  from {
    top: 40%;
    left: -50%;
    background-position: 50% 100%;
    transform: scale(1.2);
  }

  to {
    top: 7%;
    left: 60%;
    background-position: 50% 0;
  }
}

.centered-content {
  color: #fff;
  width: 61.8%;
  margin: auto;
  margin-top: 5%;
  line-height: 1.5;
}

.brand {
  text-align: center;
}

.brand-icon {
  width: calc(5em + 4vw);
  transition: 1s;
  position: relative;

  color: var(--brand-icon-color);
  text-shadow: var(--brand-icon-text-shadow);
}

.brand-icon:hover {
  animation: App-logo-float infinite 3s ease-in-out;
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px)
  }
  100% {
    transform: translateY(0px)
  }
}

.bio {
  position: relative;
  text-align: justify;
  font-weight: 900;
  font-size: calc(1em + 1vw);
  /* letter-spacing: -0.1vw; */
  padding: 1rem;
  text-shadow: -10px 10px 15px rgba(0, 0, 0, 0.3);
  transition: 1s;
}

.bio .code-icon {
  position: absolute;
  right: 10px;
  top: -1rem;
}

.wechat-qrcode {
  width: calc(2em + 10vw);
  cursor: pointer;
  transition: transform 1.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.wechat-qrcode-desc {
  color: #666;
  font-style: italic;
  font-weight: bold;
  margin-top: -10px;
  font-size: 7px;
}

.btn,
 button,
 a {
   text-decoration: none
 }

 .btn,
 button,
 label,
 a {
   cursor: pointer
 }

 .btn,
 button.btn,
 a.btn {
   background-image: linear-gradient(to bottom, var(--bg), var(--bg4));
   border-radius: 8px;
   color: var(--green3);
   letter-spacing: 1px;
   padding: 10px 20px;
   border: 0;
   box-shadow: 0 0 10px var(--subtle);
   font: inherit;
   text-decoration: none;
   transition: transform 0.15s cubic-bezier(0, 1.8, 1, 1.8)
 }

 .btn.btn-primary,
 button.btn.btn-primary,
 a.btn.btn-primary {
   
   /* color: var(--bg3);
   background: var(--green2); */

   /* background: linear-gradient(264.51deg, #FFE580 4.38%, #FF7571 11.51%, #FF7270 25.06%, #EA5DAD 36.04%, #C2A0FD 47.63%, #9867F0 59.03%, #3BF0E4 69.96%, #33CE43 83.74%, #B2F4B6 95.62%);
   background-position: 71% 61%;
   background-size: 500%; */

   /* background: linear-gradient(267.91deg, #FFE57F 9.35%, #FF7170 96.48%); */

   border: 1px solid var(--green3);
 }

.btn:hover,
button.btn:hover,
a.btn:hover {
  transform: translateY(-1px)
}

@media only screen and (min-width: 320px) and (max-width: 767px),
only screen and (device-width: 767px) {
  .centered-content {
    width: 91.8%;
  }

  .wechat-qrcode-desc {
    font-size: 6px;
    margin-top: -5px;
    line-height: 7px;
    width: 5rem;
  }
}

/*icons style*/
.social-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.social-icons li {
  display: inline-block;
}

.social-icons li a {
  text-decoration: none;
}

.icon {
  border-radius: 50%;
  margin: calc(0.5em + 0.1vw);
  opacity: 0.8;
  color: #fff;

  display: flex;
  align-items: center;

  box-shadow: -10px 10px 15px rgba(0, 0, 0, 0.3);
  background: linear-gradient(0deg, #ddd, #fff);
  transition: 1s;
}

.icon:hover,
.icon:focus {
  opacity: 1;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  /* transition: transform 0.1s ease-out;
  transform: scale(1.25); */
  transition: all 0.3s ease 0s;
}

.icon.circle {
  height: calc(2em + 0.5vw);
  width: calc(2em + 0.5vw);
  border-radius: 50%;
}

.icon .svg {
  margin: 0 auto;
  display: block;
  fill: currentColor;
  width: 1.5rem;
  height: 1.5rem;
}

.icon-facebook {
  background: #3B5998;
}

.icon-twitter {
  background: #1da1f2;
}

.icon-google {
  background: #dd4b39;
}

.icon-linkedin {
  background: #007bb5;
}

.icon-snapchat-ghost {
  background: #fffc00;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.icon-skype {
  background: #00aff0;
}

.icon-wechat {
  background: #1aad28;
}

.icon-envelope-o {
  background: #2368c0;
}

.icon-reddit {
  background: #ff5700;
}

.icon-github {
  background: #292626;
}

.icon-stackoverflow {
  /*background: #45160814;*/
  background: rgb(250, 250, 251);
}

.developer-mode-link {
  opacity: 0.54;
}

.developer-mode-link:hover {
  opacity: 1;
}


/* custom-marker */
details > summary.custom-marker { list-style-type: none; } /* Firefox */
/* summary::marker, */
details > summary.custom-marker::-webkit-details-marker {
  display: none
}
details > summary.custom-marker {
  list-style-image: none;
}
details > summary.custom-marker:before {
  content: "+";
  /* content:"â®"; */
  /* transform:rotate(90deg); */
  color: #f1a50d;
  padding-left: 0.5rem;
  padding-right: 1rem;
}
details[open] > summary.custom-marker:before {
  content: "-";
}
/* custom-marker end */

/* common */
details {
  margin: 1.3rem 0;
}

details summary {
  font-weight: bold;
  cursor: pointer;
}

details > summary:before {
  content: "";
  padding-left: 0.5rem;
}

details > summary:focus {
  outline: none;
}

details[open] > summary {
  /* box-shadow: 0px 0px 4px 1px var(--color-shadow2);
  border-radius: 20px; */
  font-style: italic;
}

/* common end */

details > summary.border-bottom {
  padding: 4px;
  border: none;
  box-shadow: 1px 1px 0px var(--color-shadow2);
  box-shadow: 0px 1px 0px var(--color-shadow2);

  font-size: calc(1em + 1vw);

  border-radius: 10px;
}

details > summary.border {
  padding: 4px;
  border: none;

  font-size: calc(1em + 1vw);

  box-shadow: 0px 0px 4px 0px var(--color-shadow2);
  border-radius: 20px;
}

details > summary + div {
  margin: 0;
  border-radius: 10px;
  padding: 1rem;
}

.border-1 {
  box-shadow: 1px 1px 4px 0px var(--color-shadow2), -1px 1px 4px 0px var(--color-shadow2);
}

.border-2 {
  box-shadow: 0px -1px 4px var(--color-shadow2);
}

.border-3 {
  box-shadow: 1px 1px 0px var(--color-shadow), -1px 1px 0px var(--color-shadow);
  margin-top: -1rem;
  padding-top: 2rem;
}

.container-grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(85px, 1fr));
  grid-auto-rows: 85px;
}

.container-grid > .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.card {
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  /* box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12); */
 
  border-radius: 8px;
  box-shadow: 0px 0px 4px 0px var(--color-shadow);
}

.card:hover {
  transform: translate(0, -5px);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.16);
  box-shadow: 0 5px 10px 0px var(--color-shadow);
}

.qrcode-container {
  margin-right: 1rem;
  cursor: pointer;
  opacity: 0.54;
  border: none;
  background: transparent;
}

.qrcode-container:hover {
  opacity: 1;
}

.mobile-qrcode {
  width: 100% !important;
  /* height: auto !important; */
  box-shadow: 0px 0px 4px 0px var(--color-shadow2);
  border-radius: 4px;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: #fff;
  margin-bottom: 1rem;
}

.footer .version {
  margin-left: auto;
  color: var(--subtle);
}

/* Common */
.signature {
  height: 35px;
  margin-right: 2rem;
}

.highlight {
  color: #f1a50d;
  cursor: help;
  border-bottom-style: dotted;
}

.highlight:hover {
  color: #ffe506;
  /* text-shadow: -3px 3px 2px #7c630a; */

  /* background: linear-gradient(330deg, #178bb7 0%, #d8ca1e 25%, #52e0e0 50%, #f1e526 75%, #095090 100%); */
  /* background: linear-gradient(330deg, #178bb7 0%, #8bc1ef 25%, #52e0e0 50%, #f1e526 75%, #076b39 100%); */
  background: linear-gradient(90deg, #e86ff1 0%, #3ce2e2 70%, #f5b45a 100%);

  /* background: rgb(63,94,251);
  background: radial-gradient(circle, #ffe506 0%, purple 100%); */


  /* github */
  /* background: linear-gradient(92.05deg, #BCA1F7 12.09%, #E577B4 42.58%, #FF7170 84.96%); */
  
  background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  box-decoration-break: clone;
}

[data-theme="dark"] .highlight:hover {
  background: linear-gradient(130deg, #507bf4, #f166b2);
  background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  box-decoration-break: clone;
}

.text-nowrap {
  white-space: nowrap;
}

.scale {
  transform: scale(1.8) !important;
}