
/* Override */
.tippy-box {
  border-radius: 0;
  filter: drop-shadow(1px 1px 3px rgb(0 0 0 / 25%));
  opacity: 1;
  color: #fafafa;
  max-width: 370px !important;
}

.tippy-box .tippy-content {
  text-align: left;
  
  /* letter-spacing: -0.1vw; */
}

.tippy-box * {
  font-family: cursive;
}

.tippy-box[data-theme~='gradient'] {
  background: linear-gradient(130deg, #507bf4, #f166b2);
  box-shadow: -3px 3px 12px #6a3da7;
  font-weight: bold;
}

.tippy-box[data-theme~='gradient'] > .tippy-svg-arrow {
  fill: #b170ce;
}

[data-theme="light"] .tippy-box[data-theme~='gradient'] {
  background: linear-gradient(130deg, #666af1, #ca6767);
}

[data-theme="light"] .tippy-box[data-theme~='gradient'] > .tippy-svg-arrow {
  fill: #a068a3;
}

[tooltip][tabindex="0"] {
  outline: none;
}

/* stylelint-disable-next-line */
.introjs-helperLayer {
  background: transparent !important;
  box-shadow: 0 0 0 9999px rgb(25 24 24 / 51%) !important;
}

.introjs-tooltiptext {
  font-weight: bold;
  line-height: 17pt;
}

.introjs-button {
  text-shadow: none !important;
}

.introjs-overlay {
  background: transparent !important;
}

/* bugfix for arrow */
.introjs-arrow.top-middle {
  border-color: transparent transparent #ecf0f1;
}

.introjs-arrow.bottom-middle {
  border-color: #ecf0f1 transparent transparent;
}

.introjs-arrow.top-right {
  border: 5px solid transparent;
}

/* @ppzp/noty */
.ppz-noty-item1 .text {
  color: rgb(0 0 0);
}
