@import "~dialog-polyfill/dialog-polyfill.css";

/* dialog */
.qrcode-dialog {
  position: relative;
  min-width: 350px;
  max-width: 95vw;
  border: none;
  border-radius: 6px;
  background-color: var(--bg-white);
  box-shadow: 0 0 40px rgb(0 0 0 / 10%), 0 0 10px rgb(0 0 0 / 25%);
}

@media only screen and (max-width: 767px),
only screen and (device-width: 767px) {
  .qrcode-dialog {
    min-width: 320px;
  }
}

.qrcode-dialog .dialog-title-container {
  display: flex;
  align-items: center;
}

.qrcode-dialog .dialog-title {
  flex-grow: 1;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 1.33em;
  margin-inline-end: 1.33em;
  font-weight: bold;
}

.qrcode-dialog .close-icon {
  background: transparent;
  border: none;
  outline: none;
  font-weight: bold;
  color: gray;
  height: 0;
  margin-left: 5px;
}

.qrcode-dialog .close-icon:hover {
  color: var(--red);
}

.qrcode-dialog .actions {
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
}

.dialog-bg::backdrop {
  /* native */

  /* position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; */
  background-color: rgb(0 0 0 / 60%);

  /* backdrop-filter: blur(2px); */
}

.dialog-bg+.backdrop {
  /* polyfill */

  /* position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; */

  /* background-color: rgba(0, 0, 0, 0.46); */
  background-color: rgb(0 0 0 / 60%);

  /* backdrop-filter: blur(2px); */
}

.shake {
  animation: shake 300ms ease-in-out !important;
}

@keyframes shake {
  0% {
    transform: translate3d(0, -50%, 1000px);
  }
  12.5% {
    transform: translate3d(-6px, -50%, 1000px) rotateY(-5deg);
  }
  37.5% {
    transform: translate3d(5px, -50%, 1000px) rotateY(4deg);
  }
  62.5% {
    transform: translate3d(-3px, -50%, 1000px) rotateY(-2deg);
  }
  87.5% {
    transform: translate3d(2px, -50%, 1000px) rotateY(1deg);
  }
  100% {
    transform: translate3d(0, -50%, 1000px);
  }
}

.dialog-animation:not([aria-hidden='true']) {
  transition: opacity 0.6s linear 0s, transform 0.6s ease-out 0s;
}

.fade {
  transition: opacity .15s linear 0s;
}

.scale-in {
  animation: scale-in .6s;
}

.scale-out {
  animation: scale-out .6s;
}

.appear-from-top {
  /* animation: appear-from-top .6s; */
  animation: bounce-in-top 1.1s both;
}

.disappear-from-top {
  animation: disappear-from-top .4s forwards;
}

.appear-from-bottom {
  animation: appear-from-bottom .6s;
}

.disappear-from-bottom {
  animation: disappear-from-bottom .4s forwards;
}

@keyframes scale-in {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes scale-out {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}

@keyframes appear-from-top {
  0% {
    transform: translateY(-55%);
    opacity: 0;
  }
  65% {
    transform: translateY(-45%);
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bounce-in-top {
  0% {
    transform: translateY(-200%);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateY(-50%);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateY(-63%);
    animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(-50%);
    animation-timing-function: ease-out;
  }
  81% {
    transform: translateY(-56%);
    animation-timing-function: ease-in;
  }
  90% {
    transform: translateY(-50%);
    animation-timing-function: ease-out;
  }
  95% {
    transform: translateY(-53%);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(-50%);
    animation-timing-function: ease-out;
  }
}

@keyframes disappear-from-top {
  from {
    opacity: 1;
  }
  to {
    transform: translate(0, -100%);
    opacity: 0;
  }
}

@keyframes appear-from-bottom {
  from {
    transform: translate(0, 50%);
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes disappear-from-bottom {
  from {
    opacity: 1;
  }
  to {
    transform: translate(0, 50%);
    opacity: 0;
  }
}
