@import "~dialog-polyfill/dialog-polyfill.css";

/* dialog */
.qrcode-dialog {
  min-width: 350px;
  max-width: 95vw;
  border: none;
  border-radius: 6px;
  background-color: var(--bg-white);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.25);
}

@media only screen and (max-width: 767px),
only screen and (device-width: 767px) {
  .qrcode-dialog {
    min-width: 250px;
  }
}

.qrcode-dialog .close-icon {
  float: right;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  width: 20px;
  margin-left: 5px;
  border-radius: 50%;
  font-size: 1rem;
}

.qrcode-dialog .close-icon:hover {
  transform: none;
  background: 0 0;
  color: #f27474;
}

.qrcode-dialog .actions {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-around;
}

.dialog-bg::backdrop {
  /* native */
  /* position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; */
  background-color: rgba(0, 0, 0, 0.6);
  /* backdrop-filter: blur(2px); */
}

.dialog-bg+.backdrop {
  /* polyfill */
  /* position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; */
  /* background-color: rgba(0, 0, 0, 0.46); */
  background-color: rgba(0, 0, 0, 0.6);
  /* backdrop-filter: blur(2px); */
}

.shake {
  animation: shake 300ms ease-in-out !important;
}

@keyframes shake {
  0% {
    transform: translate3D(0, 0, 1000px);
  }

  12.5% {
    transform: translate3D(-6px, 0, 1000px) rotateY(-5deg);
  }

  37.5% {
    transform: translate3D(5px, 0, 1000px) rotateY(4deg);
  }

  62.5% {
    transform: translate3D(-3px, 0, 1000px) rotateY(-2deg);
  }

  87.5% {
    transform: translate3D(2px, 0, 1000px) rotateY(1deg);
  }

  100% {
    transform: translate3D(0, 0, 1000px);
  }
}

.dialog-animation:not([aria-hidden='true']) {
  transition: opacity 0.6s linear 0s, transform 0.6s ease-out 0s;
}

.fade {
  transition: opacity .15s linear 0s;
}

.scale-in {
  animation: scale-in .6s;
}

.scale-out {
  animation: scale-out .6s;
}

.appear-from-top {
  animation: appear-from-top .6s;
}

.disappear-from-top {
  animation: disappear-from-top .6s;
}

.appear-from-bottom {
  animation: appear-from-bottom .6s;
}

.disappear-from-bottom {
  animation: disappear-from-bottom .6s;
}

@keyframes scale-in {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

@keyframes scale-out {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(0);
  }
}

@keyframes appear-from-top {
  0% {
    transform: translate(0, -100%);
    opacity: 0;
  }

  85% {
    transform: translate(0, 5%);
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@keyframes disappear-from-top {
  from {
    opacity: 1;
  }

  to {
    transform: translate(0, -100%);
    opacity: 0;
  }
}

@keyframes appear-from-bottom {
  from {
    transform: translate(0, 50%);
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes disappear-from-bottom {
  from {
    opacity: 1;
  }

  to {
    transform: translate(0, 50%);
    opacity: 0;
  }
}