/* @import '~tippy.js/dist/tippy.css';
@import "~tippy.js/themes/light-border.css"; */
/* @import "~intro.js/introjs.css";
@import "~intro.js/themes/introjs-modern.css"; */
@import "~dialog-polyfill/dialog-polyfill.css";

/* html {
  background: url(../assets/images/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */

* {
  margin: 0;
  padding: 0;
  /* TODO: find a better font-family */
  font-family: Arial, Roboto, Helvetica, Ubuntu, monospace, sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}

[data-theme-style="light"] {
  background: rgb(131, 58, 180);
  background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(209, 63, 63, 1) 70%, rgba(194, 141, 65, 1) 100%);

  animation: show 2s ease-in-out;
}

[data-theme-style="dark"] {
  background: rgb(29, 26, 79);
  background: linear-gradient(90deg, rgba(29, 26, 79, 1) 1%, rgba(142, 21, 218, 1) 100%);

  animation: show 2s ease-in-out;
}

[data-theme-style="gray"] {
  /* Set the theme to special gray */
  background: gray;
  filter: grayscale(100%);
  filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
}

.main {
  height: 100vh;
}

.help-icon-menu-bar {
  position: absolute;
  top: 1vh;
  right: 1vw;
  bottom: 0;
  left: 92%;
  max-height: 24px;
  margin: 0 auto;
  cursor: pointer;
  opacity: 0.54;
  transition: opacity 0.333s cubic-bezier(0, 0, 0.21, 1);
}

.help-icon-menu-bar .pwa-install-btn {
  
  max-height: 24px;
  margin: 0 auto;
  cursor: pointer;
  opacity: 0.54;
  transition: opacity 0.333s cubic-bezier(0, 0, 0.21, 1);
  background: url(../assets/images/install.svg) center center no-repeat;
}

/* Bugfix for blue border when click on modile and tablet devices */
.webkit-mobile-pointer-disable-blue-highlight {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

[class^="moon"] {
  position: absolute;
  top: 6%;
  bottom: 0;
  left: 60%;
  right: 0;
  margin: 0 auto;
  max-height: 10vw;
  max-width: 10vw;
  cursor: pointer;
  border-radius: 50%;
  animation: colorize 24s linear infinite;
  transition: 2s;
}

[data-theme-style="light"] [class^="moon"] {
  background-color: gold;
}

[data-theme-style="dark"] [class^="moon"] {
  background-color: lightgoldenrodyellow;
}

.centered-content {
  color: #fff;
  width: 61.8%;
  margin: auto;
  line-height: 1.5;
}

@media only screen and (min-width: 320px) and (max-width: 767px),
only screen and (device-width: 767px) {
  .centered-content {
    width: 91.8%;
  }
}

.brand {
  text-align: center;
}

.brand-icon:before {
  content: '\272C';
}

.brand-icon {
  font-size: calc(6em + 4vw);
  text-align: center;
  font-weight: 900;
  color: #f1a50d;
  transition: 1s;
  text-shadow: -10px 10px 15px rgba(0, 0, 0, 0.3);
}

.brand-icon:hover {
  color: #ffe506;
  text-shadow: -5px 5px 10px #ab870a;
}

[data-theme-style="dark"] .brand-icon {
  color: #ffe506;
  text-shadow: -5px 5px 10px #ab870a;
}

.bio {
  text-align: justify;
  font-weight: 900;
  font-size: calc(1em + 1vw);
  /* letter-spacing: -0.1vw; */
  padding: 1rem;
  text-shadow: -10px 10px 15px rgba(0, 0, 0, 0.3);
  transition: 1s;
}

.highlight {
  color: #f1a50d;
  cursor: help;
  border-bottom-style: dotted;
}

.highlight:hover {
  color: #ffe506;
  text-shadow: -3px 3px 2px #7c630a;
}

.scale {
  transform: scale(2.3);
}

.wechat-qrcode {
  width: calc(2em + 10vw);
  cursor: pointer;
  transition: transform 1.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.tippy-box {
  border-radius: 0;
  filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.25));
  opacity: 1;
  color: #fafafa
}

.tippy-box .tippy-content {
  text-align: left;
  /* letter-spacing: -0.1vw; */
}

[tooltip][tabindex="0"],
[tooltip-follow][tabindex="0"] {
  outline: none;
}

.introjs-helperLayer {
  background: transparent !important;
  box-shadow: 0 0 0 9999px rgba(25, 24, 24, 0.51);
}

.introjs-overlay {
  background: transparent !important;
}

/*icons style*/
.social-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.social-icons li {
  display: inline-block;
}

.social-icons li a {
  text-decoration: none;
}

.icon {
  border-radius: 50%;
  margin: calc(0.5em + 0.1vw);
  opacity: 0.8;
  color: #fff;

  display: flex;
  align-items: center;

  box-shadow: -10px 10px 15px rgba(0, 0, 0, 0.3);
  background: linear-gradient(0deg, #ddd, #fff);
  transition: 1s;
}

.icon:hover,
.icon:focus {
  opacity: 1;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  /* transition: transform 0.1s ease-out;
  transform: scale(1.25); */
  transition: all 0.3s ease 0s;
}

.icon.circle {
  height: calc(2em + 0.5vw);
  width: calc(2em + 0.5vw);
  border-radius: 50%;
}

.icon .svg {
  margin: 0 auto;
  display: block;
  fill: currentColor;
  width: 1.5rem;
  height: 1.5rem;
}

.icon-facebook {
  background: #3B5998;
}

.icon-twitter {
  background: #1da1f2;
}

.icon-google {
  background: #dd4b39;
}

.icon-linkedin {
  background: #007bb5;
}

.icon-snapchat-ghost {
  background: #fffc00;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.icon-skype {
  background: #00aff0;
}

.icon-wechat {
  background: #1aad28;
}

.icon-envelope-o {
  background: #2368c0;
}

.icon-reddit {
  background: #ff5700;
}

.icon-github {
  background: #292626;
}

.icon-stackoverflow {
  /*background: #45160814;*/
  background: rgb(250, 250, 251);
}

.qrcode-container {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  cursor: pointer;
}

.mobile-qrcode {
  /*width: 100%;*/
}

.qrcode-dialog {
  max-width: 300px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}

.dialog-bg::backdrop {
  /* native */
  /* position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; */
  background-color: rgba(0, 0, 0, 0.46);
}

.dialog-bg+.backdrop {
  /* polyfill */
  /* position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; */
  background-color: rgba(0, 0, 0, 0.46);
}

.dialog-animation:not([aria-hidden='true']) {
  animation: appear-from-bottom 600ms 150ms 1 both;
  transition: opacity 4s;
}

/* TODO: fix dialog css issue, need to check the vendor css again */
dialog {
  top: 0;
  bottom: 0;
}

/* TODO: some issues here */
@keyframes appear-from-bottom {
  from {
    /* transform: translate(0, 80%); */
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes show {
  0% {
    opacity: 0.1;
  }

  14.29% {
    opacity: 0.2;
  }

  28.58% {
    opacity: 0.3;
  }

  42.87% {
    opacity: 0.4;
  }

  57.16% {
    opacity: 0.6;
  }

  71.45% {
    opacity: 0.8;
  }

  100% {
    opacity: 1;
  }
}

@keyframes colorize {
  0% {
    box-shadow: 0 0 10rem 2rem red;
  }

  14.29% {
    box-shadow: 0 0 10rem 2rem orange;
  }

  28.58% {
    box-shadow: 0 0 10rem 2rem yellow;
  }

  42.87% {
    box-shadow: 0 0 10rem 2rem green;
  }

  57.16% {
    box-shadow: 0 0 10rem 2rem blue;
  }

  71.45% {
    box-shadow: 0 0 10rem 2rem indigo;
  }

  100% {
    box-shadow: 0 0 10rem 2rem purple;
  }
}